<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Pinhal" src="https://thumbs.web.sapo.io/?epic=ZGE0PFTtHS2lIlt8q7DBDqd87Z4oQ465iQm0jPFQx6CpnLL8OL0mjnUq19BdCCgnRmnuAYJVSYmiv9Wx3JpNibZTpA==&W=200&H=200&png=1" class="img-thumbnail">
</div>

<div class="container">                                                             
  <div class="row">                                                               
      <div class="col-12">                                                        
          <div class="alert alert-primary">                                       
              Test, test. 1, 2, 3...  
          </div>                                                                  
      </div>                                                                      
  </div>                                                                          
</div>

<ul class="nav nav-tabs card-header-tabs" style="text-align:center; margin-left: 40px">
  <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
  <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
  <li class="nav-item"><a class="nav-link" routerLink="/todo">Todo App</a></li>
</ul>

<hr />

<router-outlet></router-outlet>
