<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="https://media.licdn.com/dms/image/C5103AQGBcE6QrwpfTA/profile-displayphoto-shrink_800_800/0?e=1544054400&v=beta&t=2pL-vyx-Z8DP7Ql8rEj-sLKZgrPzBUsmU-iNcojXqgM" class="img-thumbnail">
</div>

<div class="container">                                                             
  <div class="row">                                                               
      <div class="col-12">                                                        
          <div class="alert alert-primary">                                       
              If I'm in a blue 'alert' and centered Bootstrap is well installed!  
          </div>                                                                  
      </div>                                                                      
  </div>                                                                          
</div>

<ul class="nav nav-tabs card-header-tabs">
  <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
  <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
  <li class="nav-item"><a class="nav-link" routerLink="/todo">Todo App</a></li>
</ul>

<router-outlet></router-outlet>
